# JetBrains IDE
.idea
/credentials.yml
# Vim
*.swp
*.swn
*.swo
.DS_Store
test.go
*test.go
# Redis
*.rdb

# Environment variables
*.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.new
*.old
*.out

# Dependency directories
vendor/
